@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Open+Sans&display=swap");

/* ************************************* */
/* ************* CSS Reset ************* */
/* ************************************* */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ************************************* */
/* ********** Color variables ********** */
/* ************************************* */
:root {
	--violet: hsl(257, 40%, 49%);
	--soft-magenta: hsl(300, 69%, 71%);
}

body {
	font-family: "Open Sans";
	font-weight: 400;

	background-color: navajowhite;
}

h1 {
	font-family: "Poppins", sans-serif;

	color: #fff;
	text-align: center;
	font-size: 1rem;
	font-weight: 600;

	border: 4px solid royalblue;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	color: #fff;
}

p {
	color: #fff;
	text-align: center;
	font-size: 0.6rem;

	border: 2px solid yellow;
}

.main-wrapper {
	height: 100vh;
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	align-items: center;

	/* width: 300px; */

	border: 8px solid lightcoral;
}

.container {
	display: flex;
	flex-direction: column;
	width: 300px;
	background-color: var(--violet);

	border: 4px solid cadetblue;
}

/* ***************************************** */
/* ** margin classes - small medium large ** */
/* ***************************************** */

.m-s {
	padding: 25px;
}

.m-m {
	padding: 50px;
}

.m-l {
	padding: 70px;
}

.huddle-logo {
	content: url(images/logo.svg);
	/* width: 50%; */
	width: 110px;

	border: 1px solid lawngreen;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	border: 2px solid tomato;
}

.content {
	margin-top: 20px;
}

.content > * {
	margin-bottom: 20px;
}

.desktop-mobile-illustrations {
	content: url(images/illustration-mockups.svg);
	width: 80%;
}

/* **************************** */
/* ********** Button ********** */
/* **************************** */

.btn-register {
	display: flex;
	justify-content: center;
	align-items: center;
	display: inline-block;
	border: none;
	padding: 0.5em 2em;
	border-radius: 40px;
	color: var(--violet);
	width: 50%;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);

	border: 2px solid firebrick;
}

.btn-register:hover {
	background-color: var(--soft-magenta);
	color: white;
}

/* **************************** */
/* ********** Footer ********** */
/* **************************** */

.address-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	/* border: 2px solid yellow; */
}

.address-container a {
	border: 2px solid red;
}

.social-media-icons .address-container .icon {
	color: #fff;
	font-size: 0.8rem;
	border: 2px solid white;
	border-radius: 50%;
	padding: 0.5em;
	width: 15px;
}

.address-container .icon:hover {
	color: var(--soft-magenta);
	border: 2px solid var(--soft-magenta);
}
